* { 
margin: 0px;
padding: 0px;
} 

.text-arial {
  font-family: Arial, sans-serif;
}

.header { 
color: white;
height: 25vh;
background: #96f24b;
background: linear-gradient(90deg, rgba(150, 242, 75, 1) 0%, rgba(230, 212, 57, 1) 100%);
padding-top: 21px;
padding-bottom: 0px;
text-align: center;
font-size: 5vh;
border-bottom: 7px solid white;
} 

.tabs {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 17%;
    margin-top: -6vh;

    gap: 23%;
}

.tabs button {
    flex: 1;
    height: 6vh;
    background: white;
    color: #787777;

    font-size: 2.5vh;
    border-radius: 10px 10px 0 0;
    border: none;
    cursor: pointer;
}


.content {
    display: none;
    margin: 0 5%;
    padding: 20px;
    background: white;
    border-radius: 0 10px 10px 10px;
}

.content1 {
}

.content2 {
}

.content3 {

}

.active {
    display: block;
}

.github_icon {
height: 6vh;
width: 6vh;
position: absolute;
top: 10px;
left: 20px;
}

.size1 {
font-size: 3.1vh;
color: #787777;
}

.size2 {
font-size: 4.1vh;
color: #787777;
line-height: 80px;
}

.download_button { 
color: white;
height: 7vh;
width: 21vh;
background: #96f24b;
background: linear-gradient(90deg, rgba(150, 242, 75, 1) 0%, rgba(230, 212, 57, 1) 100%);
line-height: 4vh;
text-align: center;
font-size: 3vh;
border-radius: 10px;
border-style: none;
cursor: pointer;
margin: 35px 0px 0px 0px
}

.tabs + .content {
    margin-top: 0;
}

